/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

 */

 .list-icon li {
 	margin-bottom: 0px !important;
 	margin-left: 20px;
 }

 .shadows {
 	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
 	border-radius: 5px 5px 40px 5px;
 }

 .our-space {
 	border-top: 10px solid #fafafa;
 	margin-bottom: 0px !important;
 	margin-top: 0px !important;
 }

 .btn-grad {
 	height: 20px;
 	background-image: linear-gradient(to right, #DE2222, #063A69);
 	color: #FFF;
 	border-style: solid;
 	border-color: #DE2222 #063A69 #063A69 #DE2222 !important;
 }

 .cd-h {
 	background-color: #d82731;
 	color: #FFF;
 	font-weight: 800;
 }

 .cd-cus {
 	border-radius: 5px 5px 30px 5px;
 	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12);
 }

  .cd-cus2 {
 	border-radius: 10px;
 	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12);
 }