div.online {
width:220px;
}
div#online_box {
	bottom:2px;
	right:5px;
	height:400px;
	border:1px solid grey;	
}

div#online_title_box {
	top:2px;
	left:2px;
	height:30px;
	background-color:#47433F;
}
div#online_title {
	top:2px;
	width:150px;
	height:30px;
	padding-top:5px;
	padding-left:10px;
	font-size:15px;
	font-family:verdana;
	color:white;
	cursor:pointer;
}
div#min {
	right:10px;
	top:0px;
	padding-left:6px;
	padding-right:6px;
	font-size:25px;
}

div.opt:hover {
	background-color:#47433F;
}

div#online_users_box {
	top:38px;
	left:0px;
	width:210px;
	max-height:350px;
	font-size:11px;
	font-family:verdana;
	color:#555;
	overflow:auto;
}
div#online_users_box div#user {
	font-size:11px;
	font-family:verdana;
	padding-left:10px;
	padding-top:4px;
	padding-bottom:1px;
	cursor:pointer;
	color:#222;
}
div#online_users_box div#user:hover {
	background-color:#e3cdcd;
	color:#111;
}
div#online_search_box {
	bottom:0px;
	left:0px;
	height:25px;
}
div#online_search_box input {
	padding-left:10px;
	width:100%;
	height:25px;
	border:1px solid grey;
	color:#777;
}
div#chatbox {
	width:99%;
	left:120px;
	margin-left:30px;
	margin-right:10px;
	bottom:0px;
}
div.chatbox_user {
	position:absolute;
	bottom:20px;
	float:left;
	width:640px;
	left:15px;
	top:15px;
	min-height:400px;	
	border:1px solid grey;
}
div.chatbox_title {
	top:0px;
	left:0px;
	width:630px;
	min-height:25px;
	font-size:15px;
	font-family:verdana;
	color:white;
	background-color:#883;
	padding-left:10px;
	padding-top:4px;
}

div#minChat {
	position:relative;
	right:31px;
	top:-1px;
	font-size:25px;
}

div#closeChat {
	position:relative;
	right:11px;
	top:4px;
	padding-top:4px;
	font-size:13px;
}

div.opt {
	float:left;
	padding-left:3px;
        padding-right:3px;
	color:white;
        cursor:pointer;
}
div.chatbox_status {
	position:absolute;
	bottom:35px;
	padding-left:10px;
	padding-top:0px;
	font-size:12px;
	color:#555;
}
div.chatbox_text {
	bottom:0px;
	left:0px;
	width:99%;
	min-height:360px;
}
div.chatbox_email {
	position:absolute;
	bottom:0px;
	width:31px;
	right:3px;
	vertical-align:middle;
	min-height:30px;
	padding-left:5px;
	font-size:12px;
}
div.chatbox_text input {
	position:absolute;
	bottom:0px;
	width:93%;
	min-height:30px;
	padding-left:5px;
	font-size:12px;
	border:1px solid grey;
}

div.chatbox_msg {
	overflow:auto;
	position:absolute;
	top:30px;
	left:0px;
	width:99%;
	height:330px;
	padding-top:5px;
}

div.msg_container {
	width:95%;
	margin-top:0px;
}

div.err_msg {
	padding-top:5px;
	padding-left:10px;
	color:#555;
	font-size:10px;
	word-wrap: break-word;
}

div.msg_container div#sender {
	width:95%;
	margin-left:10px;
	margin-top:0px;
	word-wrap: break-word;
	font-size:12px;
	font-family:verdana;
}
div.msg_container div#sender_msg {
	float:left;
	margin-left:5px;
	margin-top:2px;
	font-size:12px;
	font-family:verdana;
}
